/*
    Viewport Sizes
*/
$vp-small       : 600px;
$vp-mid         : 800px;
$vp-large       : 1024px;
$vp-xlarge      : 1280px;

/*
    Site Colors
*/
$dark-blue      : #091227;
$med-blue       : #0F619F;
$ice-blue       : #A7EBF4;
$green          : #50aa59;
$white          : #ffffff;

/*
    Fonts
*/

$primary-font   : 'Helvetica Neue', Helvetica, sans-serif;
$secondary-font : ''; 